@import "../../styles/variable";

.form-container {
  img {
    width: 100px;
    margin: 45px 47% 45px;
    border-radius: 5px;
  }

  .form {
    background-color: $main-light;
    padding: 5px 25px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
    width: 350px;
    margin: 0 auto 25px;

    @media #{$mobile-small} {
      width: 90%;
    }

    h3 {
      text-align: center;
      margin: 10px;
      @media #{$mobile-small} {
        font-size: 2.5rem;
      }
    }

    p {
      text-align: center;
    }
  }
}
