@import '../../styles/variable';

.form-container{
  h1{
      text-align: center;
      padding: 15px;
  }
    .form{
        background-color: $background-color;
        padding: 5px;
        border: 1px solid rgb(170, 170, 170);
        box-shadow: 5px 10px 8px #888888;
        border-radius: 5px;
        

        h3{
            text-align: center;
            margin: 10px;
        }
        p{
            text-align: center;
        }
    }
}