@import '../styles/variable';


.home{
    // display: flex;
    // width: 1500px;
    margin: 0 auto;
    // padding: 0 3%;
    
    @media #{$tablet-big} {
        flex-direction: column;
       
     }
    .header{
        width: 60%;
        margin: 5% auto;

    }

    .flex-container{
        display: flex;
        // width: 60%;
        margin: 0 auto;
        // background-color: $background-color;
        justify-content: space-evenly;

    .left{
        // width: 50%;
        // margin: 0 auto;
        img{
            width: 150px;
        }
        @media #{$tablet-big} {
            width: 80%;
           
         }
    }
    .right {
        // width: 50%;
        // padding: 80px 40px;
        // text-align: center;
        // align-content: center;
        // margin: 0 auto;
        @media #{$tablet-big} {
            width: 80%;
           
         }
         @media #{$mobile} {
            padding: 15px 10px;
           
         }

         h1{
            @media #{$tablet} {
                font-size: 3rem;
               
             }
         }
         img {
             width: 150px;
         }
    }
    }
}