.party-form {
    background-color: rgb(158, 158, 158);
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
}

.party-list-container {
    display: flex;
    flex-direction: column;
        .party-btn {
            width: 20%;
            margin: 10px auto;
        }
}

