@import '../../styles/variable';


.party-list-container{
    text-align: center;
    h1{
      margin-top: 2%;
      @media #{$tablet} {
        font-size: 3rem;
        margin-top: 3%;
     }
    }
  
    .parties-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      

        .add-icon{
            font-size: 7rem;
            margin-bottom: 0px;
        }
        .parties-box{
            border: 1px solid rgb(170, 170, 170);
            background-color: $main-light;
            border-radius: 5px;
            padding: 2%;
            width: 25%;
            margin: 10px 10px;
            @media #{$tablet} {
              width: 45%;
           }
           @media #{$mobile-small} {
            width: 70%;
         }
           
          }
          .parties-box:hover{
            box-shadow: 5px 10px 8px #888888;
            cursor: pointer;
          }
    }
}