.form{
    // background-color: ;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid gray;

    h3{
        text-align: center;
        margin: 10px;
    }
    p{
        text-align: center;
    }
}