// primary colors
$main-blue: #001529;
$medium-blue: #4950ec;
$white: #ffffff;
$black: #000000;
$background-color:   #fea49f;
$main-dark:   #101357;
$main-light:  #fddedc;


// Font family
$font-family: Mada, Lato, sans-serif, arial;


//media queries
$mobile: 'only screen and (max-width:550px)';
$mobile-small: 'only screen and (max-width:450px)';
$tablet-big: 'only screen and (max-width:1100px)';
$desktop: 'only screen and (min-width:1200px)';